<h4>Add Todos</h4>
<div class="container my-3 ">
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
      <label for="title">Todo Title</label>
      <div class="input-group">
          <input type="text" [(ngModel)] = "title" class="form-control" name="title" id="title">
        </div>
    </div>

    <div class="row mb-3">
        <label for="desc" >Description</label>
        <div>
            <input type="text"  name="desc" class="form-control" id="desc" [(ngModel)] = "desc">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Add Todo</button>
    
</form>
</div>
